.all-game-page{
  background: #E4E4E4;
  height: 100%;
  gap: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 30px 130px 0px 130px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal{
  background: white;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 32px;
  justify-content: center;
  gap: 42px;
  z-index: 10000;
  flex-direction: column;
  align-items: center;
}